<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Подтвердите удаление</title>
</head>
<body>
    <div class="container">
        <h1>Подтвердите удаление клиента</h1>
        <p>Вы уверены, что хотите удалить клиента "{{ recipient.full_name }}" с электронной почтой "{{ recipient.email }}"?</p>

        <form method="POST">
            {% csrf_token %}
            <button type="submit">Да, удалить</button>
            <a href="{% url 'service:recipient_list' %}">Отмена</a>
        </form>
    </div>
</body>
</html>