{% extends 'service/base.html' %}
{% block content %}
<h1>Список получателей рассылки</h1>
<a href="{% url 'service:recipient_add' %}">Добавить нового получателя</a>
<ul>
    {% for recipient in recipients %}
        <li>
            {{ recipient.surname }} - {{ recipient.email }}
            <a href="{% url 'service:recipient_edit' recipient.pk %}">Редактировать</a>
            <a href="{% url 'service:recipient_delete' recipient.pk %}">Удалить</a>
        </li>
    {% endfor %}
</ul>
{% endblock %}